html
  include header.pug
  body
    .container
      div(class="d-flex justify-content-between")
        h5= 'bcbk session'
        a(href="/user/logout")
          button(class="btn btn-primary")= 'Logout'
      br
      .row
        table(class="table table-responsive")
          thead
            th= '#'
            th= 'name'
            th= 'speaker'
            th= 'start'
            th= 'end'
            th= 'room'
            th= 'edit'
          tbody
            each session, index in sessions
              tr
                th= index
                td= session.name
                td= session.speaker
                td #{moment(session.start).format('hh:mm')}
                td #{moment(session.end).format('hh:mm')}
                td= session.room
                td
                  a(href="/sessions/" + session.id)
                    button(class="btn btn-secondary")= 'edit'
