html
  include header.pug
  body
    .container
      div(class="row mt-4")
        h1= 'SESSIONS'
      div(class="row mb-4")
        button(class=" btn btn-primary")= 'ADD SESSION'
      .row
        table.table
          thead
            th= '#'
            th= 'name'
            th= 'speaker'
            th= 'start'
            th= 'end'
            th= 'room'
          tbody
            each session, index in sessions
              tr
                th= index
                td= session.name
                td= session.speaker
                td #{moment(session.start).format('hh:mm')}
                td #{moment(session.end).format('hh:mm')}
                td= session.room

    //- form(action="")
    //-   .form-group
    //-     label(for="")= 'sessions name'
    //-     input(type="text")
